menu "AWS IOT ESP32 Configuration"
    config ESP_WIFI_SSID
        string "WiFi SSID"
        help
            "SSID or network name to connect to"

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        help
            "Password of network to connect to (WPA or WPA2)"

    config ESP_HOSTNAME
        string "Hostname for device"
        default "autumns-esp32"
endmenu